.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1171px;
}