.root {
  font-size: 16px;
  line-height: 1.3;
  text-transform: uppercase;
  color: white;
  border: 2px solid $color-blue;
  background-color: $color-blue;
  padding: 8px 24px;
  min-width: 132px;
  border-radius: 5px;
  text-transform: initial;
  font-weight: 500;

  &.transparent {
    background-color: transparent;
    border: 2px solid $color-blue;
    color: $color-blue;
    text-transform: initial;
    font-size: 16px;
    line-height: 1.3;
    &:hover {
      background-color: $color-blue;
      color: white;
    }
  }
}