.root {
  & .bg  {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    &-item {
      position: absolute;
      width: 200vw;
      height: 200vw;
      min-width: 200vw;
      min-height: 200vw;
      min-width: 200vw;
      min-height: 200vw;
      &__red {
        top: -80vw;
      }
      &__blue {
        &-right {
          top: 100vh;
          left: 0vw;
        }
        &-left {
          top: 215vh;
          right: 0vw;
        }
      }
    }
  }
}

.modal {
  &-content {
  }
  &-paper {
    margin: 16px !important;
  }
}