.root {
  & .bg  {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    &-item {
      position: absolute;
      top: 0;
      width: 60vw;
      height: 60vw;
      min-width: 60vw;
      min-height: 60vw;
      min-width: 60vw;
      min-height: 60vw;
      &__red {
        top: 5vw;
      }
      &__blue {
        &-right {
          top: 120vh;
          left: 80vw;
        }
        &-left {
          top: 260vh;
          right: 80vw;
        }
      }
    }
  }
}

.modal {
  &-content {
  }
  &-paper {
    margin: 16px !important;
  }
}