.root {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  padding-top: 128px;
  padding-bottom: 200px;
  &-wrapper {
    position: relative;
  }
}

.bg {
  top: 63px;
  // max-width: 1280px;
  right: 30px;
  width: 120%;
  position: absolute;
}

.form {
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(8, 41, 135, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 50px 50px 60px 50px;
  position: relative;
  & > h4 {
    width: 100%;
    font-size: 32px;
    line-height: 1.2;
    color: $color-black;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 600;
  }
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
  flex-basis: 48%;
  &-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  & > span {
    font-size: 17px;
    color: $color-black;
    margin-bottom: 10px;
    & > span {
      font-size: 17px;
      margin-left: 2px;
      color: red;
    }
  }
  & > input {
    width: 100%;
    max-width: initial;
  }
  & > p {
    top: calc(100% + 4px);
    position: absolute;
    color: red;
    font-size: 15px;
  }
}

.checkbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  & > p {
    font-size: 15px;
    line-height: 1.2;
    & > span {
      color: $color-blue;
      cursor: pointer;
    }
  }
}

.button {
  margin-top: 20px;
  font-weight: bold;
  flex-basis: 100%;
  max-width: 352px;
}