.root {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $color-grey-border;
  border-radius: 4px;
  width: 100%;
  min-height: 54px;
  cursor: pointer;
  &-wrapper {
    width: 100%;
  }
}

.dropdown {
  border: none;
  & > img {
    padding-left: 10px;
    padding-right: 10px;
  }
  &.isOpened {
    & > img {
      transition: rotate(180deg);
    }
  }
}

.menuList {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  & > img {
    margin-right: 10px;
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    min-height: 24px;
    max-height: 24px;
  }
  & > span {
    font-size: 18px;
    line-height: 1.4;
  }
  &:hover {
    // background-color: #EDEDED;
    cursor: pointer;
  }
}