.root {
  flex-direction: column !important;
  &-wrapper {
  }
  & h6 {
  }
}

.bg {
  width: 70vw;
  height: 70vw;
  min-width: 70vw;
  min-height: 70vw;
  max-width: 70vw;
  max-height: 70vw;
}

.content {
  padding-top: 38px;
  flex-direction: column !important;
  align-items: center !important;
  &-wrapper {
  }
  & > img {
    margin-bottom: 6px;
  }
  &-column {
    align-items: center;
    margin-top: 32px;
    & > span {
      margin-bottom: 24px;
      &:last-child {
      }
    }
    & > h4 {
      margin-bottom: 24px;
    }
    & > div {
      margin-bottom: 24px;
      & > img {
      }
      & > a {
      }
      & > span {
      }
      &:last-child {
      }
    }
  }
}

.logos {
  width: 100%;
  & > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: auto;
    width: 100%;
    gap: initial;
    // max-width: 25%;
    & > img {
      width: 24%;
    }
    &:last-child {
      & > img {
        width: 19%;
      }
    }
  }
}

.copyright {
  & > span {
  }
  & > p {
  }
}