.root {
  &-wrapper {
    
  }
}
.bg  {
  width: 150vw;
  height: 150vw;
  min-width: 150vw;
  min-height: 150vw;
  min-width: 150vw;
  min-height: 150vw;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 4vw;
  &-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  & > span {
    padding-bottom: 6px;
    padding-top: 6px;
    font-size: 17px;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.content {
  min-height: 70vh;
}

.modal {
  &-content {
  }
  &-paper {
    margin: 16px !important;
  }
}