.root {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  padding-top: 128px;
  padding-bottom: 200px;
  &-wrapper {
    position: relative;
  }
}

.bg {
  top: 63px;
  // max-width: 1280px;
  right: 30px;
  width: 120%;
  position: absolute;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 70%;
  & > h3 {
    text-align: center;
    font-size: 42px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 60px;
  }
}

.block {
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(8, 41, 135, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 50px 50px 60px 50px;
  position: relative;
  flex-basis: 60%;
  & > h4 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    color: $color-black;
    margin-bottom: 24px;
  }
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &-head {

  }
  &-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }
}

.cell {
  padding: 5px;
  border: 1px solid $color-blue;
  &.id {
    flex-basis: 28%;
    width: 100%;
  }
  &.date {
    flex-basis: 19%;
    width: 100%;
  }
  &.course {
    flex-basis: 19%;
    width: 100%;
  }
  &.give {
    flex-basis: 10%;
    width: 100%;
  }
  &.get {
    flex-basis: 10%;
    width: 100%;
  }
  &.status {
    flex-basis: 12%;
    width: 100%;
  }
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
  & > span {
    font-size: 17px;
    color: $color-black;
    margin-bottom: 6px;
    & > span {
      font-size: 17px;
      margin-left: 2px;
      color: red;
    }
  }
  & > input {
    width: 100%;
    max-width: initial;
    padding-left: 0;
  }
  & > p {
    top: calc(100% + 4px);
    position: absolute;
    color: red;
    font-size: 15px;
  }
}

.checkbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  & > p {
    font-size: 15px;
    line-height: 1.2;
    & > span {
      color: $color-blue;
      cursor: pointer;
    }
  }
}

.button {
  margin-top: 41px;
  max-width: 252px;
  font-weight: bold;
}


.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  & > img {
    margin-right: 10px;
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    min-height: 24px;
    max-height: 24px;
  }
  & > span {
    font-size: 18px;
    line-height: 1.4;
  }
  &:hover {
    // background-color: #EDEDED;
    cursor: pointer;
  }
}