.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 54px;
  width: 100%;
  border: 1px solid $color-grey-border;
  border-radius: 4px;
  & > div {
    padding: 18px 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $color-grey-bg-light;
    height: 100%;
  }
  & > input {
    width: 100%;
    border: none;
  }
}