.root {
  width: 100%;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  left: 0;
}

.item {
  padding: 15px;
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  & > img {
    position: absolute;
    right: 100%;
    opacity: 0;
    transition: all 0.2s ease-in;
  }
  & > span {
    font-size: 18px;
    line-height: 1.5;
    color: $color-grey;
    position: relative;
    left: 0;
    transition: all 0.2s ease-in;
  }
  &.active {
    padding-top: 6px;
    padding-bottom: 6px;
    & > img {
      opacity: 1;
      right: calc(100% - 12px);
    }
    & > span {
      font-size: 20px;
      left: 24px;
      font-weight: bold;
      color: $color-black;
    }
  }
  &:not(.active):hover {
    & > img {
      padding-right: 10px;
      opacity: 1;
      right: calc(100% - 22px);
    }
    & > span {
      left: 24px;
      font-weight: bold;
      color: $color-black;
    }
  }
}