@font-face {
  font-family: "OKKO Sans";
  src: url("../../fonts/OKKO_Sans/OKKO_Sans-Regular.ttf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "OKKO Sans";
  src: url("../../fonts/OKKO_Sans/OKKO_Sans-Medium.ttf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "OKKO Sans";
  src: url("../../fonts/OKKO_Sans/OKKO_Sans-Bold.ttf") format("opentype");
  font-weight: 700;
}
