* {
  box-sizing: border-box;
  color: $color-black;
  font-family: "Lato", sans-serif;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-blue;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  overflow-x: hidden;
}

@include media-mobile-xl {
  body::-webkit-scrollbar {
    // width: 52px;
    display: none;
  }
}

p {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0em;
}

p, span, a, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  color: $color-black;
  font-size: 15px;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

input {
  border: none;
  border-bottom: 2px solid $color-blue;
  font-size: 20px;
  line-height: 1.4;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  &.reverse {
    text-align: right;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type=number] {
    -moz-appearance: textfield;
  }

  @include media-mobile {
    font-size: 18px;
  }
}

.onlyMobile {
  display: none !important;
  &::after {
    display: none !important;
  }
  &::before {
    display: none !important;
  }
  @media (max-width: $mobile-width) {
    display: flex !important;
  }
}

.noMobile {
  @media (max-width: $mobile-width) {
    display: none !important;
    &::after {
      display: none !important;
    }
    &::before {
      display: none !important;
    }
  }
}