.docs {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: $mobile-width) {
    padding-top: 60px;     
    padding-bottom: 80px;
  }
  & > h2 {
    font-size: 42px;
    line-height: 1.3;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 80px;
    @media (max-width: $mobile-width) {
      font-size: 36px;
      text-align: left;
      margin-bottom: 30px;
    }
  }
  & > section {
    margin-bottom: 54px;
    width: 100%;
    @media (max-width: $mobile-width) {
      margin-bottom: 30px;   
    }
    &:last-child {
      margin-bottom: 0;
    }
    & a {
      font-size: inherit;
      line-height: inherit;
      color: $color-blue;
      font-weight: inherit;
      font-weight: bold;
    }
    & h3 {
      font-weight: bold;
      font-size: 22px;
      line-height: 1.3;
      margin-bottom: 24px;
      @media (max-width: $mobile-width) {
        font-size: 16px;
        margin-bottom: 16px;
      }
    }
    span {
      width: initial;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      font-weight: bold;
    }
    & p {
      font-size: 16px;
      line-height: 1.5;
      padding-bottom: 16px;
      @media (max-width: $mobile-width) {
        font-size: 14px; 
        padding-bottom: 12px;
      }
    }
    & ul {
      list-style: none;
      padding-bottom: 16px;
      & > li {
        display: flex;
        flex-direction: row;
        position: relative;
        &::before {
          content: '';
          margin-left: 32px;
          margin-right: 10px;
          width: 4px;
          min-width: 4px;
          max-width: 4px;
          height: 4px;
          min-height: 4px;
          max-height: 4px;
          background-color: $color-black;
          border-radius: 50%;
          position: relative;
          border: 1px solid $color-black;
          top: 9px;
        }
        &:last-child {
          & > p {
            padding-bottom: 0;
          }
        }
      }
      & > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // &:last-child {
        //   & > p {
        //     padding: 0;
        //   }
        // }
      }
      &.inner {
        & > li {
          &::before {
            background-color: transparent;
          }
        }
      }
    }
    & ol {
      list-style: none;
      padding-bottom: 16px;
      & > li {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-left: 32px;
      }
    }
    & > * {
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}